

#root {
  background: red;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex-grow: 1;
  min-height: 5000px;
}

.footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #222;
  position: relative;
  color: white;
  margin-top: auto; /* Plasserer footeren nederst */
}

